.Agenda {
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;

    &__title{
        color: var(--color-black);
        font-size: var(--h3-size);
        font-weight: var(--medium-weight);
        margin-bottom: 30px;
    }

    &__wp {
        width: 100%;
        min-height: 450px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
        border-radius: 8px;
        transition: all .2s;

        padding: 40px 30px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        scroll-behavior: smooth;
        max-height: calc( 85vh - 70px - 45px - 20px);
        overflow: auto;

        img{
            pointer-events: none;
            user-select: none;
        }

        &__text {
            color: var(--color-black);
            font-size: var(--regular-size);
            font-weight: var(--regular-weight);
            text-align: center; 
            margin-top: 40px;
        }

        &__btn {
            width: 100%;
            margin-top: 20px;
            margin-bottom: -30px;
        }
    }

    
}

/* Tamaño del scroll */
.Agenda__wp::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: all .4s;
  }
  
   /* Estilos barra (thumb) de scroll */
  .Agenda__wp::-webkit-scrollbar-thumb {
    background: #389cff8c;
    border-radius: 4px;
    transition: all .4s;

  }
  
  .Agenda__wp::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .Agenda__wp::-webkit-scrollbar-thumb:hover {
    background: #389cffbb;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .Agenda__wp::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
    transition: all .4s;
  }
  
  .Agenda__wp::-webkit-scrollbar-track:hover, 
  .Agenda__wp::-webkit-scrollbar-track:active {
    background: #d4d4d4;
    opacity: 0;
  }
  