.S_CheckStep {
    display: flex;
    width: 100%;
    height: 100%;

    * {
        box-sizing: border-box;
    }

    ol {
        list-style: decimal;
        li {
            margin-top: 15px;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;

        color: #000000;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &__step {
        display: flex;
        width: 20%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;

        &__title {
            display: flex;
            flex-direction: column;
            height: 30%;
            & > * {
                margin-top: 20px;
            }
        }

        &__information {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        justify-content: space-evenly;

        padding: 0 30px;

        &__information {
            display: flex;
            flex-direction: column;

            width: 100%;

            &__type {
                display: flex;
                width: 100%;

                .Input {
                    width: 100%;
                    margin: 10px;
                    flex-grow: 1;
                }
            }

            &__use {
                display: flex;
                flex-direction: row;
                width: 100%;

                flex-wrap: wrap;

                & > .Input {
                    max-width: 45%;
                    width: 50%;
                    margin: 10px 20px;
                }
            }
        }

        &__programs {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 400px;

            .Input {
                justify-content: flex-start;
                margin-bottom: 20px;
                width: 30%;
            }
        }
    }

    &__navegation {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;

        & > div {
            margin: 0 30px;
            width: 50%;
        }
    }
}
