.Input {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 30px;

  p {
    margin-bottom: 16px;

    color: var(--color-black);
    font-weight: var(--regular-weight);
    font-size: var(--regular-size);
  }

  input {
    width: 100%;
    height: 60px;

    background-color: var(--color-gray-light);
    border: none;

    padding: 0 25px;
    box-sizing: border-box;

    color: var(--color-black);
    font-weight: var(--regular-weight);
    font-size: var(--regular-size);
  }

  input::placeholder {
    color: var(--color-gray-dark);
  }

  input:focus {
    border: solid 2px var(--main-color);
  }
}
