.Input {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 30px;

  p {
    margin-bottom: 16px;

    color: var(--color-black);
    font-weight: var(--regular-weight);
    font-size: var(--regular-size);
  }

  input {
    width: 100%;
    height: 60px;

    background-color: var(--color-gray-light);
    border: none;

    padding: 0 25px;
    box-sizing: border-box;

    color: var(--color-black);
    font-weight: var(--regular-weight);
    font-size: var(--regular-size);
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;

    background-color: var(--color-gray-light);
    border: none;

    padding: 0 25px;
    box-sizing: border-box;

    color: var(--color-black);
    font-weight: var(--regular-weight);
    font-size: var(--regular-size);
  }

  input::placeholder {
    color: var(--color-gray-dark);
  }

  input:focus {
    border: solid 2px var(--main-color);
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.image {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  width: 250px;
  height: 250px;

  .title {
    margin-top: 20px;
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
  }
  input {
    position: absolute;
     opacity: 0;

    &:checked ~ div {
      border: 2px solid #1b97ff;
    }
  }
}
